# Archivos locales / personales
.viminfo
.config/
prueba.js
test.c
test.cpp
test.py
.gemini_key

# Plugins instalados (se instalan con :PlugInstall)
vim/plugged/

# Cache/estado de CoC (si se genera)
.coc/

# Temporales de Vim
*.swp
*.swo
*~

# Ignorar binarios de IA y carpetas temporales
.codeium/
bin/
*.swp
tags

# Archivos de sistema y cache que NO deben subirse
.npm/
.cache/
.local/
.bash_history
.viminfo
