# Archivos locales / personales
.viminfo
.config/
prueba.js
test.c
test.cpp
test.py

# Plugins instalados (se instalan con :PlugInstall)
vim/plugged/

# Cache/estado de CoC (si se genera)
.coc/

# Temporales de Vim
*.swp
*.swo
*~
